<!DOCTYPE html> 
<html>
  <head>
    <title> my app</title>
  </head>
  <body>
    <div>
      <h1> Мое учебное приложение</h1>
        <p>  Доброго времени суток. Меня зовут Дмитрий. 
          Я начинающий Ruby developer. 
        <li>  Мой профиль <a href="https://www.linkedin.com/in/%D0%B4%D0%BC%D0%B8%D1%82%D1%80%D0%B8%D0%B9-%D1%81%D1%83%D1%88%D0%B0-b20545ab/">Linkedin</a></li>
        <li>  Моя почта:  <em> movs1989@gmail.com</em></li></p>
    </div>
  </body>
</html>
 