.card{:style => "width: 50rem;"}
  .card-body
    %h5.card-title= link_to ad.user.name
    \%&gt;
    %p.card-text= ad.content
    %p.card-text
      Posted at #{ad.created_at} .
    %p.card-text
      Status: #{ad.status}
