.mb-3.row
  .col-sm-2.col-form-label
    = f.label :tags
  .col-sm-10
    = f.collection_select :tag_ids, question.tags, :id, :title, {}, multiple: true, |
      class: 'js-multiple-select', data: {'ajax-url': '/api/tags'}                  |
