@import 'tom-select/dist/css/tom-select.bootstrap5';
form-control{
    textarea {
        width: 600px;
        min-height: 2.75em
      }
}
.thumb {
  height: 100px;
  width: 100px;
  border: 1px solid #000;
  margin: 10px 5px 0 0;
}  