%footer
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light.justify-content-end
    #navbarNav.navbar-fixed-bottom1
      %ul.navbar-nav
        %li.nav-item
          %a.nav-link{:href => "/"} Home
        %li.nav-item
          %a.nav-link{:href => "/about"} About
