<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"  href="/home">Home</a>
        </li>
       
        <% unless user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link"  href="/users/sign_up">Signup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="/users/sign_in">Signin</a>
            </li>
        <%end%>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <% if user_signed_in? && current_user.admin_role? %>
          <li class="nav-item">
                <a class="nav-link"  href="/admin/users">Users Edit</a>
          </li>
        <%end%>
        <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Settings
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/users/edit">Edit</a></li>
                <li><a class="dropdown-item" href="/users/sign_out" data-method="delete">Signout</a></li>
              </ul>
            </li>
        <%end%>    
      </ul>
    </div>
  </div>
</nav>